body {
	height: 100%;
	/*padding-top: 50px;*/
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

html {
	height: 100%;
}
a {
	&:active, &:visited, &:focus {
		text-decoration: none;
	}
}


/* COLOR */
.orange-red {
	color: #FF3A00;
}

.font-weight-300 { font-weight: 300; }
.ltr-space-08 { letter-spacing: 0.08em; }

/* BORDER */
.border-top {
	border-top-width: 1px; 
	border-top-color: #ccc;
	border-top-style: solid;
}
.border-bottom {
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: solid;
	&.dashed {
		border-bottom-width: 1px;
		border-bottom-style: dashed;
	}
}
.border-right {
	border-right: 1px solid #ccc;
}
.border-left {
	border-left: 1px solid #ccc;
}

/* MARGINS & PADDINGS */
@import "margin-padding.less";

.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}
.mt-75{
	margin-top: 75px;
}
.t-xs {
	font-size: 13px;
}
.t-sm {
	font-size: 15px;
}
.t-md {
	font-size: 20px
}
p {
	font-weight: 300;
}

.page-header {
	padding: 0;
	margin-bottom: 10px;
	.navbar {
		border-radius: 0;
		border-color: none;
		.navbar-header img {
			height: 40px;
		}
		.navbar-brand {
			margin-left: 0px;
		}
	}
	.navbar-nav.navbar-hollow {
		float: right;
		> li {
			padding-left: 15px;
			padding-right: 15px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			a {
				color: #bbb;
				font-weight: 400;
				&:hover {
					color: #fff;
				}
				&.btn-hollow {
					color: #fff;
					&:hover {
						color: #000;
					}
				}
			}
			&.active a {
				border-bottom: none;
				color: #fff;
				font-weight: 500;
			}
			@media (min-width: 767px) and (max-width: 992px) {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		@media (max-width: 767px) {
			float: left;
		}
	}
}

.container a{
	color: black;
}

.breadcrumb.hollow li {
	a {
		color: #888;
		font-weight: 300;
		text-decoration: none;
	}
	&.active a {
		color: #000;
		font-weight: 400;
	}
}
// .carousel, .carousel-inner, .item, .active {
// 	height: 100%;
// }

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.62);
	width: 450px;
	top: 28%;
	position: absolute;
	bottom: inherit;
	.carousel-caption-one {
		top: 30%;
	}
	.carousel-caption-two {
		top: 45%;
	}
	&.left {
		left: 0;
	}
	&.right {
		right: 0;
	}
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


.carousel-holder {
	margin-bottom: 30px;
}

.carousel,
.item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}
// .carousel-caption {
// 	width: 100%;
// 	background-color: rgba(0, 0, 0, 0.62);
// 	left: 0;
// 	right: 0;
// }
// .carousel-caption p {
// 	margin-left: 20%;
// 	margin-right: 20%;
// }
/* Background images are set within the HTML using inline CSS, not here */

.item {
	border-radius: 4px;
}

.caption {
	height: 140px;
	overflow: hidden;
	font-weight: 300;
}

.caption h4 {
	word-wrap: break-word;
	font-weight: 300;
	font-size: 20px;
	color: #000;
	a {
		text-decoration: none;
	}
}

.imageCard {
	height: 320px !important;
}

.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

.thumbnail {
	padding: 0;
	border-radius: 0;
	img {
		width: 100%;
	}
	a {
		display: block;
		position: relative;
		text-decoration: none;
		&:hover {
			color: #999;
			.hover {
				background-color: rgba(0, 0, 0, 0.1);
				position: absolute;
				top: 0;
			}
			.normal-price , .promo-price, .out-of-stock {
				color: #999;
			}
			h4 {
				color: #999;	
			}
		}
	}
	.hover {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;	
	}
	.caption-card {
		min-height: 95px;
	}
	.caption-full {
		padding: 9px;
		color: #333;
	}
	.info-product {
		min-height: 58px;
		h4 {
			font-weight: 300;
			color: #000;
			margin: 10px;
			letter-spacing: 0.04em;
		}
	}
	.info-price{
		min-height: 30px;
		padding-bottom: 5px;
		text-align: center;
	}      
	.info-price .small-price{
		font-size: 8pt !important;
		position: relative;
		&::after {
			border-bottom: 0.180em solid rgba(255, 0, 0, 0.8);
			content: "";
			left: 0;
			line-height: 1em;
			margin-top: calc(0.200em / 2 * -1);
			position: absolute;
			right: 0;
			top: 50%;
			max-width: inherit;
		}
	}        
	.promo-price{
		// color: #222;
		margin-bottom: 0px;
		color: #000;
		font-size: 15px;
		font-weight: 300;
	}
	.normal-price{
		/*padding-top: inherit;*/
		padding-bottom: initial;
		margin-bottom: 0px;
		color: #000;
		font-size: 15px;
		font-weight: 300;
	}
	.out-of-stock {
		font-size: 24px;
		font-weight: 300;
	}
	.detail {
		letter-spacing: 0.06em;
	}
}

.product-info {
	.title-product {
		font-size:28px; 
	}
	.caption-product {
		font-weight:400;
		text-transform: uppercase;
	}
	.text-product {
		font-weight: 300;
		&.small-price{
			font-size: 10pt !important;
			position: relative;
			&::after {
				border-bottom: 0.150em solid rgba(255, 0, 0, 0.8);
				content: "";
				left: 0;
				line-height: 1em;
				margin-top: calc(0.150em / 2 * -1);
				position: absolute;
				right: 0;
				top: 50%;
				max-width: inherit;
			}
		}
	}
}

.myCanvas {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 2s; /* Firefox < 16 */
	        -ms-animation: fadein 2s; /* Internet Explorer */
	         -o-animation: fadein 2s; /* Opera < 12.1 */
	            animation: fadein 2s;
}
.canvas-fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.canvas-fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }	
}

.new-address-hide {
	display: none;
	-webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadeout 2s; /* Firefox < 16 */
	        -ms-animation: fadeout 2s; /* Internet Explorer */
	         -o-animation: fadeout 2s; /* Opera < 12.1 */
	            animation: fadeout 2s;	
}

.new-address-show {
	display: block;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 2s; /* Firefox < 16 */
	        -ms-animation: fadein 2s; /* Internet Explorer */
	         -o-animation: fadein 2s; /* Opera < 12.1 */
	            animation: fadein 2s;
}

@keyframes fadein {.canvas-fadein;}

/* Firefox < 16 */
@-moz-keyframes fadein {.canvas-fadein;}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {.canvas-fadein;}

/* Internet Explorer */
@-ms-keyframes fadein {.canvas-fadein;}

/* Opera < 12.1 */
@-o-keyframes fadein {.canvas-fadein;}

@keyframes fadeout {.canvas-fadeout;}

/* Firefox < 16 */
@-moz-keyframes fadeout {.canvas-fadeout;}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {.canvas-fadeout;}

/* Internet Explorer */
@-ms-keyframes fadeout {.canvas-fadeout;}

/* Opera < 12.1 */
@-o-keyframes fadeout {.canvas-fadeout;}

.img-center {
	margin: 0 auto;
}

.page404 {
	padding-top: 170px;
	@media screen and (max-width: 767px) {
		padding-top: 70px;
	}
}

.chart-header{
	border-bottom: 0.2em solid #ccc;
	p {
		font-size: 16px;
		font-weight: 300;
		color: #555;
	}
}
.chart-item{
	border-top: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
	a.title {
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.05em;
		color: #888;
		text-decoration: none;
		&:hover {
			color: #000;
		}
	}
	h4{
		font-size: 16px;
		font-weight: 400;
	}
	p{
		font-size: 13px;
		color: #777;
	}
	.label-item {
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.03em;
	}
	.label-caption {
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 2px;
	}
	&:first-of-type {
		border-top: none;
	}
}
.chart-item-mobile h4{
	margin-top: 5px;
	margin-bottom: 5px;    
}

// .chart-topLine{
// 	border-top: 1px solid #ccc;
// }

// .chart-lowLine{
// 	border-bottom: 1px solid #ccc;
// }
.chart-footer{
	padding-top: 15px;
	padding-bottom: 15px;
	h4 {
		font-weight: 300;
	}
}
.chart-dropdown{
	width: 280px;
	height: 100%;
	min-height: 380px;
	font-size: 12px; 
	text-transform: capitalize;
	li{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 7px;
		padding-bottom: 3px;
	}
	h4{
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	p{
		font-size: 11px;
		margin-top: 0px;
		margin-bottom:0px;
	}
	.cart-content {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 275px;
	}
	.cart-bottom {
		position:absolute;
		bottom: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.cart-divider {
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
		background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
		background: linear-gradient(top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
		width: 100%;
		height: 50px;
		margin-bottom: -10px;
	}
}

// .chart-dropdown-item-grid{
// 	border-bottom: 2px dashed #ccc;
// }

.chart-dropdown-subtotal{
	/*background-color: #bbb;*/
	color : #222;
	padding-bottom: 0px;
}

.chart-dropdown-subtotal p{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
.user-dropdown {
	color: #000;
	padding-top: 0;
	padding-bottom: 0;
	li {
		a {
			padding-top: 6px;
			padding-bottom: 6px;
			color: #888 !important;
			font-weight: 300;
			font-size: 13px;
			&:hover {
				background-color: #000 !important;
				color: #fff !important;
			}
		}
	}
}

// Button
.btn-hollow {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	text-decoration: none;
	text-shadow: none;
	&:focus {
		outline: none;
	}
	&.hollow-black {
		background-color: #000;
		color: #fff;
		&:hover {
			background-color: #fff;
			color: #000;
			border-color: #fff;
			text-decoration: none;
		}
	}
	&.hollow-black-border{
		background-color: #000;
		color: #fff;
		&:hover {
			background-color: #fff;
			color: #000;
			border-color: #000;
			text-decoration: none;
		}
	}
	&.hollow-black-border-transaparent{
		background-color: #000;
		color: #fff;
		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
			color: #000;
			border-color: #000;
			text-decoration: none;
		}
	}
	&.hollow-white {
		background-color: #fff;
		color: #000;
		&:hover {
			background-color: #000;
			color: #fff;
			border-color: #fff;
			text-decoration: none;
		}
	}
	&.hollow-white-border {
		background-color: #fff;
		color: #000;
		border: 1px solid #000;
		&:hover {
			background-color: #000;
			color: #fff;
			// border-color: #fff;
			text-decoration: none;
		}
	}
	&.hollow-black-transparent {
		background-color: #000;
		color: #fff;
		&:hover {
			background-color: rgba(0, 0, 0, 0.6);
			color: #fff;
			text-decoration: none;
		}
	}
	&.hollow-black-transparent-reverse {
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		&:hover {
			background-color: #fff;
			color: #333;
			text-decoration: none;
		}
	}
	&.btn-hollow-sm {
		padding: 5px 10px;
		font-size: 12px;
	}
	&.btn-hollow-xs {
		padding: 3px 6px;
		font-size: 10px;
		&.btn-qty {
			width: 32px;
			height: 32px;
			i {
				font-size: 8px;
				font-weight: 100;
			}
		}
	}
}
.hollow-social {
	&.hollow-white {
		background-color: #000;
		color: #fff;
		border: 1px solid #fff; 
		&:hover {
			background-color: #fff;
			color: #000;
			border-color: #fff;
			text-decoration: none;
		}
	}
	&.btn-hollow-xs {
		width: 40px;
		height: 38px;
		padding: 8px 6px;
	}
}
.dropdown-menu.category-list {
	margin-top: 30px;
	width: 180px;
	background-color: #000;
	li {
		padding: 8px;
		padding-left: 10px;
		font-size: 12px;
		border-bottom: 1px solid #666;
		&:last-child {
			border-bottom: none;
		}
		a {
			background-color: #000;
			color: #bbb;
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
	}
}
input.text-hollow {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #333;
	margin-right: 18px;
	outline: none;
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.hollow-pagination ul.pagination {
	border-radius: 0px;
	li span, li a {
		border: none;
		color: #aaa;
		background-color: transparent;
		&:hover {
			background-color: transparent;
			color: #000;
		}
	}
	li.active span {
		background-color: transparent;
		border-color: inherit;
		color: #000;
		font-weight: bold;
	}
}
.panel-hollow {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
	/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
	input {
		outline: none;
		border: 1px solid #ddd;
		border-radius: 0;
		box-shadow: none;
	}
	h1, h2, h3, h4, h5 {
		color: #333;
	}
	a {
		color: #000;
		text-decoration: none;
	}
}
.hollow-login {
	label {
		font-weight: 400;
	}
}
h3.hollow-label {
	font-weight: 400;
}
label.hollow-label {
	font-weight: 300;
	letter-spacing: 0.04em;
}
.gallery-product {
	z-index: -1;
	.owl-controls .owl-nav .owl-prev {
		position: absolute;
		left: 0;
		top: 30px;
		background-color: rgba(0, 0, 0, 0.65);
		padding-left: 5px;
		padding-right: 5px;
		i {
			color: #eee;
			margin-right: 4px;
		}
		@media (min-width: 601px) and (max-width: 992px) {
			top: 50%;
			width: 35px;
			height: 35px;
			text-align: center;
			i {
				margin-right: 0;
				margin-top: 10px;
			}
		}
		@media (max-width: 600px) {
			top: 50%;
			width: 40px;
			height: 40px;
			text-align: center;
			i {
				margin-right: 0;
				margin-top: 12px;
			}
		}
	}
	.owl-controls .owl-nav .owl-next {
		position: absolute;
		right: 0;
		top: 30px;
		background-color: rgba(0, 0, 0, 0.65);
		padding-left: 5px;
		padding-right: 5px;
		i {
			color: #eee;
			margin-left: 4px;
		}
		@media (min-width: 601px) and (max-width: 992px) {
			top: 50%;
			width: 35px;
			height: 35px;
			text-align: center;
			i {
				margin-right: 0;
				margin-top: 10px;
			}
		}
		@media (max-width: 600px) {
			top: 50%;
			width: 40px;
			height: 40px;
			text-align: center;
			i {
				margin-right: 0;
				margin-top: 12px;
			}
		}
	}
}

.info-corporate {
	color: #666;
}
.caption-info {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 7px;
	text-align: center;
	font-weight: 300;
}
.menu-info li {
	border: 1px solid #ccc;
	padding: 9px;
	border-top: none;
	padding-left: 15px;
	&:first-child {
		border-top: 1px solid #ccc;
	}
	a {
		color: #999;
		text-decoration: none;
		&:hover, &.active {
			color: #222;
		}
	}
}
// .menu-info li a {
// }
// .menu-info li.last-child {
// 	margin-top: 30px;
// 	margin-bottom: 50px;
// }
.tag-categories a {
	font-weight: 300;
}
.form-group span.help-block {
	font-size: 12px;
}
label.text {
	color: #999;
	font-weight: 300;
}
.form-control.hollow {
	border-radius: 0;
	outline: none;
	box-shadow: none;
	// border-color: #ccc;
	&:focus {
		border-color: #999;
	}
}
select.form-control.hollow {
	border-radius: 0;
	outline: none;
	box-shadow: none;
	overflow: hidden;
	background: #fff url("../../../../Balin/web/image/select2x2.png") no-repeat right -90px top -6px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.qty-hollow {
	// margin: 0 auto;
	width: 61px;
	position: relative;
	.label-qty {
		position: absolute;
		background-color: #000;
		border: 1px solid #000;
		color: #eee;
		top: -28px;
		width: 64px;
		height: 28px;
		padding: 4px;
		display: block;
		margin-bottom: -6px;
		border-bottom: none;
	}
	.form-qty {
		text-align: center;
		width: 61px;
		height: 40px;
		border: 1px solid #000;
		border-bottom: none;
		&:disabled {
			background-color: #fff;
			color: #999;
		}
	}
	.btn-qty {
		position: absolute;
		border: 1px solid #000;
		background-color: #fff;
		font-size: 10px;
		color: #000;
		margin-top: -1px;
		width: 32px;
		height: 28px;
		padding: 7px 7px;
		&.qty-minus {
			left: 0px;
			border-right: none;
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
		&.qty-plus {
			right: 0px;
			border-left: 1px solid #000;
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
		&:disabled {
			color: #999;
			border-color: #666;
			&:hover {
				background-color: #fff;
				border-color: #666;
				color: #999;
			}
		}
	}
}
.qty-total {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 6px;
	text-align: right;
	label {
		font-size: 18px;
	}
}
.qty-hollow-cart {
	.input-hollow-cart, .btn-hollow-cart {
		border: 1px solid #000;
		width: 24px;
		height: 24px;
		font-size: 8px;
	}
	.input-hollow-cart {
		border-color: #888;
		padding: 3px 3px;
		font-size: 12px;
		text-align: center;
		width: 41px;
	}
	.btn-hollow-cart {
		padding: 5px 5px;
		background-color: #000;
		color: #fff;
		font-size: 6px;
		&:disabled {
			background-color: #666;
			color: #aaa;
			border-color: #666;
		}
	}
	// @media (min-width: 767px) {
	// 	width: 88px;
	// }
}
.related-product {
	font-weight: 400;
	text-transform: uppercase;
	.box-related {
		margin: 0 auto;
	}
	.caption-product {
		font-size: 16px;
		font-weight: 400;
		text-transform: capitalize;
	}
	.text-product {
		font-size: 14px;
		font-weight: 300;
		&.small-price{
			font-size: 8pt !important;
			position: relative;
			&::after {
				border-bottom: 0.180em solid rgba(255, 0, 0, 0.8);
				content: "";
				left: 0;
				line-height: 1em;
				margin-top: calc(0.200em / 2 * -1);
				position: absolute;
				right: 0;
				top: 50%;
				max-width: inherit;
			}
		}
	}
}
.recommend-product {
	.text-product {
		font-size: 14px;
		font-weight: 300;
		&.small-price{
			font-size: 8pt !important;
			position: relative;
			&::after {
				border-bottom: 0.180em solid rgba(255, 0, 0, 0.8);
				content: "";
				left: 0;
				line-height: 1em;
				margin-top: calc(0.200em / 2 * -1);
				position: absolute;
				right: 0;
				top: 50%;
				max-width: inherit;
			}
		}
	}
}
span.info {
	color: #888;
	font-size: 12px;
	padding-bottom: 10px;
}

.panel-voucher {
	background-color: #000;
	color: #fff;
	padding: 15px;
	font-weight: 300;
	letter-spacing: 0.05em;
	.voucher-title {
		letter-spacing: 1em;
	}
}
.panel-subtotal {
	background-color: #ddd;
	padding: 5px;
}
.checkout-bottom span {
	line-height: 30px;
}

footer {
	background: black !important;
	color: white;
	padding-top: 30px;
	padding-bottom: 45px;
	.menu-footer li {
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;
		}
	}
	.menu-footer a {
		color: #999;
		text-decoration: none;
		&:hover {
			color: #eee;
		}
	}
}

// SLIDER HOME DESKTOP, TABLET
.tp-caption.large_text {
	pposition:absolute;
	color:#fff;
	text-shadow:1px 2px 4px rgba(0, 0, 0, 0.1);
	font-weight:600;
	font-size:45px;
	line-height:40px;
	font-family:'Roboto';
	margin:0px;
	border-width:0px;
	border-style:none;
	white-space:nowrap;
}
.tp-caption.medium_text {
	position:absolute;
	color:#fff;
	text-shadow:1px 2px 4px rgba(0, 0, 0, 0.1);
	font-weight:300;
	font-size:30px;
	line-height:28px;
	font-family:'Roboto';
	margin:0;
	border-width:0px;
	border-style:none;
	white-space:nowrap;
}

// SLIDER HOME MOBILE
.caption-mobile {
	position: absolute;
	top: 50%;
	width: 100%;
	.left {
		left: 0;
		margin-left: 20px;
		text-align: left;
		h3 {
			text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
			font-size: 16px;
			font-weight: 500;
			padding: 5px;
			color: #fff;
			margin-top: 0;
			margin-bottom:0;
		}
		p {
			text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
			font-size: 18px;
			font-weight: 300;
			padding: 5px;
			color: #fff;
		}
		a {
			margin-left: 5px;
			font-size: 13px;
		}
	}
	.right {
		right: 0;
		margin-right: 20px;
		text-align: right;
		h3 {
			text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
			font-size: 16px;
			font-weight: 500;
			padding: 5px;
			color: #fff;
			margin-top: 0;
			margin-bottom:0;
		}
		p {
			text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
			font-size: 18px;
			font-weight: 300;
			padding: 5px;
			color: #fff;
		}
		a {
			margin-right: 5px;
			font-size: 13px;
		}
	}
}

// Label
.tag-label {
	position: absolute;
	top: 0;
	margin-top: 10px;
	width: 85%;
	&.right {
		right: 0;
		margin-right: 15px;
	}
	&.left {
		left: 0;
		margin-left: 15px;
	}
}
.circle-label {
	width:55px;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height:0;
		padding-bottom: 100%;
		background: #4679BD; 
		-moz-border-radius: 50%; 
		-webkit-border-radius: 50%; 
		border-radius: 50%;
	}
	div {
		font-weight: 100;
		font-size: 13px;
		float:left;
		width:100%;
		padding-top:50%;
		line-height:1em;
		margin-top:-0.4em;
		text-align:center;
		color:white;
	}
}
.square-label {
	position: relative;
	width: 72px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	color: #fff;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	&.danger {
		background-color: #de342e;
	}
}
.text-label {
	font-size: 13px;
	font-weight: 100;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.circle-non-label {
	width:8%;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height:0;
		padding-bottom: 100%;
		background: #4679BD; 
		-moz-border-radius: 50%; 
		-webkit-border-radius: 50%; 
		border-radius: 50%;
	}
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #d91e18;
    border-radius: 0;
    width: 80px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #d91e18;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #d91e18;
}

.user-page {
	a:focus {
		outline: thin black;
	}
	letter-spacing: 0.04em;
	.user-hello {
		position: relative;
		padding-bottom: 6px;
		span {
			position: absolute;
			right: 0;
		}
	}
	.header-info {
		background-color: rgba(0, 0, 0, 0.69);
	    color: #fff;
	    h4 {
			font-size: 18px;
			font-weight: 300;
			text-transform: uppercase;
			color: #eee;
			letter-spacing: 0.2em;
		}
	}
	.content-info {
		background-color: #fff;
		border: #eee;
		font-weight: 300;
		.title-info {
			position: relative;
			letter-spacing: 0.1em;
			font-weight: 300;
			color: #666;
			text-transform: uppercase;
			margin-bottom: 20px;
			small {
				position: absolute;
				right: 0;
				font-weight: 500;
			}
		} 
		p {
			font-size: 13px;
			font-weight: 300;
			letter-spacing: 0.04em;
			&.label-info {
				background-color: transparent !important;
				position: relative;
				strong, span {
					position: absolute;
					right: 0;
				}
				small {
					font-weight: 500;
				}
			}
		}
	}
	.tracking-order {
		position: relative;
		.tracking-cancel {
			position:absolute;
			right: 0;
			top:-10px; 
			font-size:12px; 
			font-weight:300;
			letter-spacing:0.08em;
		}
		span.label-hollow {
			padding: 2px 8px;
			border-radius: 0;
			font-size: 12px;
			font-weight: 300;
			letter-spacing: 0.08em;
		}
		.date-time {
			font-size: 11px;
			margin-bottom: 0px;
			letter-spacing: 0.06em;
		}
		.ref-number {
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0.08em;
		}
		a.tracking-detail {
			font-size:12px; 
			font-weight:300;
			letter-spacing:0.08em;
		}
	}
}
// .user-point {
// 	border-bottom: 1px solid #ccc;
// 	&:last-of-type {
// 		border-bottom: none;
// 	}
// }
// .info-price {
//   position: relative;
//   .promo-price {
//   	position: absolute;
//     top: 40px;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     height: 50%;
//     width: 50%;
//     margin: auto;
//   }
//   .normal-price {
//   	position: absolute;
//     top: 10px;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     height: 50%;
//     width: 50%;
//     margin: auto;
//   }
// }
